<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
	<connectionStrings configSource="Config\\Database.Config" />
  <log4net configSource="Config\\log4net.Config" />
	<appSettings configSource="Config\\AppSetting.Config" />
	<system.web>
		<compilation debug="true" />
    <httpRuntime requestValidationMode="2.0" />
	</system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/x-msvideo" />
        </staticContent>
    </system.webServer>
</configuration>