<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="appid" value="101010"/>
  <add key="SiteDomain" value="http://localhost:8111"/>
  <add key="SitePath" value="D:\digview\digview.com\FZ.Spider.Web.Product\"/>
  <add key="ImagesDomain" value="http://image.digview.com"/>
  <add key="ImagesPath" value="D:\digview\image.digview.com\"/>
  <add key="IndexPathRoot" value="D:\digview\ProductIndex\"/>
  <add key="DatabaseBackupPath"  value="D:\digview\BackupDB\"/>
</appSettings>
