<connectionStrings>
  <add name="SearchSystem" connectionString="Server=208.109.88.103,59850;UID=ps;password=#L:SJR:Eidfsfsakj43kjdfkkJH#;database=SearchSystem;" providerName="System.Data.SqlClient" />
  <add name="SearchSystemLog" connectionString="Server=208.109.88.103,59850;UID=ps;password=#L:SJR:Eidfsfsakj43kjdfkkJH#;database=SearchSystemLog;" providerName="System.Data.SqlClient" />
  <!--<add name="SearchSystem" connectionString="Server=localhost;UID=ps;password=123456;database=SearchSystem;" providerName="System.Data.SqlClient" />
  <add name="SearchSystemLog" connectionString="Server=localhost;UID=ps;password=123456;database=SearchSystemLog;" providerName="System.Data.SqlClient" />-->
  
</connectionStrings>