<log4net>
  <appender name="AppLogAppender" type="FZ.Spider.Logging.Appender.AdoNetAppender">
    <bufferSize value="20" />
    <interval value="10000" />
    <connectionType value="System.Data.SqlClient.SqlConnection,System.Data,Version=2.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    <connectionStringName value="SearchSystemLog" />
    <commandText value="INSERT INTO TB_SYS_Logging ([LogDate],[AppID],[Thread],[LogLevel],[Logger],[Class],[Method],[Message],[Exception]) VALUES (@log_date,101010, @thread, @log_level, @logger, @class, @method, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@class" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%class" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@method" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%method" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="AppLogAppender" />
  </root>

  <appender name="SpiderLogAppender" type="FZ.Spider.Logging.Appender.AdoNetAppender">
    <bufferSize value="5" />
    <interval value="10000" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <connectionStringName value="SearchSystemLog" />
    <commandText value="INSERT INTO TB_SYS_Logging ([LogDate],[AppID],[SiteName],[Thread],[LogLevel],[Logger],[Class],[Method],[Message],[Exception]) VALUES (@log_date,101111,@sitename, @thread, @log_level, @logger, @class, @method, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@class" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%class" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@method" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%method" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>

    <parameter>
      <parameterName value="@sitename" />
      <dbType value="String" />
      <size value="50" />
      <layout type="FZ.Spider.Logging.ServerLogLayout">
        <conversionPattern value="%sitename" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="FZ.Spider.Logging.ServerLogLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
  </appender>
  <logger name="SpiderLog"  additivity="false">
    <level value="INFO" />
    <appender-ref ref="SpiderLogAppender" />
  </logger>
  
</log4net>


 