/*****提取分类Url起止标识*****/
<!----------> GetList_Str_GetCodeBeginAndEnd=====||=====




/*****提取分类Url时提取页面代码的正则表达式*****/
<!----------> GetList_Reg_GetCode=====||=====




/*****提取分类Url正则表达式*****/
<!----------> GetList_Reg_GetCategoryUrl=====||=====


/*****列表页面代码提取代码正则表达式*****/
<!----------> List_Reg_GetCode=====||=====



/*****列表页面代码提取起止标识(用字符=====分割的两个字符串)*****/
<!----------> List_Str_GetCodeBeginAndEnd=====||=====






/*****列表页面代码提取产品代码正则表达式*****/
<!----------> List_Reg_GetProductCode=====||=====
<div[^>]*?id="result_[\d]*"[^>]*?>((?<Nested><div[^>]*>)|</div>(?<-Nested>)|.*?)*</div>


/*****列表页面正则表达式*****/
<!----------> List_Reg_GetProductList=====||=====
<a[\s]*?href="(?<producturl>[^"]*?)"[^>]*?>[\s]*?<img[\s]*?src="(?<smallimage>[^"]*?)"[^>]*?>[\s\S]*?
<h3[^>]*?>[\s]*?<a[^>]*?>(?<fullname>[\s\S]*?)</a>[\s\S]*?
=====<span[^>]*?>\$(?<usedprice>[^<]*?)</span>\sused\s<
=====<span[\s]*?class="bld[\s]*?lrg[\s]*?red">[\s]*?\$(?<price>[^<]*?)</span>
=====<del[\s]*?class="grey">\$(?<orgprice>[^<]*?)</del>
=====\(<a[^>]*?>(?<scorecount>[\d\,]+)</a>\)
=====<a[\s]*?alt="(?<score>[\d\.]+)\sout\sof\s5\sstars"






/*****列表页面产品Url转换正则表达式*****/
<!----------> List_Reg_ChangeProductUrl=====||=====
ref=[\S]+====>



/*****列表页面post提交数据*****/
<!----------> List_Str_PostData=====||=====


/*****列表页面截取最大页号时提取页面代码的正则表达式*****/
<!----------> PageNo_Reg_GetCode=====||=====

/*****列表页面截取最大页号时起止标识(用字符=====分割的两个字符串)*****/
<!----------> PageNo_Str_GetCodeBeginAndEnd=====||=====

/*****提取最大页号或者最大产品数正则表达式(可以直接设置为数值表示最大页号但不能是最大产品数)*****/
<!----------> PageNo_Reg_GetMaxNoOrMaxCount=====||=====
<span[\s]*?class="pagnDisabled">(?<pagecount>[^<]*?)</span>[\s]*?<span[^>]*?>[\s]*?<a[^>]*?id="pagnNextLink"



/*****
分页算法:
pageno=====beginpageno (可设为 0 ，1为默认值不需要设置)
itemno=====beginitemno|pageitemsize
itemno=====BeginItemNo|PageItemSize|MaxPageNo
*****/
<!----------> PageNo_Ints_BeginNoAndCountAndMaxNo=====||=====


/*****分页号码替换字符(pno)*****/
<!----------> PageNo_Reg_RepalcePno=====||=====
\?====>?page=[pno]&



/*****产品页面代码截取起止标识(用字符=====分割的两个字符串)*****/
<!----------> Product_Str_GetCodeBeginAndEnd=====||=====




/*****产品页面Post提交数据*****/
<!----------> Product_Str_PostData=====||=====




/*****是否分析产品页面*****/
<!----------> Product_Bool_IsAnalysis=====||=====true




/*****获得产品参数的正则表达式集合*****/
<!----------> Product_Reg_GetProductParameter=====||=====		 
		====================		 
		*****fieldname	====bigimage
		*****getvalue 	====<img[\s]*?id="main-image"[^>]*?src="(?<bigimage>[^"]*?)"
                                                  |||||<img[^>]*?src="(?<bigimage>[^"]*?)"[\s]*?id="prodImage"
		====================
		*****fieldname  ====scorecount
		*****getvalue	====<div[\s]*?id="averageCustomerReviewCount"[^>]*?>[\s]*?<a[^>]*?>(?<scorecount>[\d\,]+)\sreviews</a></div>
		====================
		*****fieldname  ====score
		*****getvalue	====<div[\s]*?id="averageCustomerReviewStars"[^>]*?>[\s]*?<span[^>]*?>[\s]*?<span>(?<score>[\d\.]+)\sout\sof\s5\sstars</span>		
		====================
		*****fieldname	====brandname
		*****getvalue 	====<a[^>]*?>(?<brandname>[^<]*?)</a>[^>]*?<a[^>]*?><span[^>]*?><span>See\sthe\sAmazon\sPage\sfor\sthis\sbrand</span>
		====================
		*****fieldname	====attributes
		*****getcode	====<div[^>]*?id="prodDetails"[^>]*?>((?<Nested><div[^>]*>)|</div>(?<-Nested>)|.*?)*</div>
							&&&&<div[^>]*?class="container"[^>]*?>((?<Nested><div[^>]*>)|</div>(?<-Nested>)|.*?)*</div>
                                                |||||<div[^>]*?id="technical-data"[^>]*?>((?<Nested><div[^>]*>)|</div>(?<-Nested>)|.*?)*</div>
		*****getvalue	====<div[^>]*?class="pdTab"[^>]*?>(?<attributes>[\s\S]*?)</div>
                                               &&&&&<h2>Technical\sDetails</h2>[\s]*?<div[\s]*?class="content">[\s]*?<ul[^>]*?>(?<attributes>[\s\S]*?)</ul>
		*****getvalue_replace====<a\shref=[^>]*>[\s\S]*?</a>---->
								&&&&&<div[^>]*?>----><div>
		====================
		*****fieldname			====content
                *****getcode			====<div[^>]*?id="productDescription"[^>]*?>((?<Nested><div[^>]*>)|</div>(?<-Nested>)|.*?)*</div>
		*****getvalue			====<div[^>]*?id="productDescription"[^>]*?>(?<content>[\s\S]+)</div>
		*****getvalue_replace	        ====<a\shref=[^>]*>[\s\S]*?</a>----> 
									&&&&&<img[^>]*?>---->
									&&&&&<h3[^>]*?>Amazon.com</h3>----> 
									&&&&&Amazon.com---->
									&&&&&<div[^>]*?>----><div>
		====================
		*****fieldname		====comment
		*****getvaule_url	==== <a[\s]*?id="seeAllReviewsUrl"[\s]*?href="(?<fieldname_url>[^"]*?)"[^>]*?>
		*****getvalue====<span>(?<score>[^\s]*?)\sout\sof\s5\sstars</span>[\s]*?</span>[\s]*?</span>[\s]*?<span[^>]*?><b>(?<title>[^<]*?)</b>,[\s]*?<nobr>(?<checkindate>[^<]*?)</nobr></span>
[\s\S]*?<div[^>]*?>By&nbsp;</div><div[^>]*?><a[^>]*?><span[^>]*?>(?<username>[^<]*?)</span></a>
[\s\S]*?<div[\s]*?class="tiny"[^>]*?>[\s]*?<b>[\s]*?<span[^>]*?>This\sreview\sis\sfrom[\s\S]*?</div>[\s]+(?<comment>[\s\S]*?)<div[^>]*?>
	 
/*****产品商家价格更新 页面截取起止标识(用字符=====分割的两个字符串)*****/
<!----------> UpdatePrice_Str_GetCodeBeginAndEnd=====||=====




/*****价格更新时得到价格的链接或价格的正则表达式集合*****/
<!----------> UpdatePrice_Reg_GetPrice=====||=====